body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.modal {
  display: none;
}

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;

  background-color: #f3f7f8;
}

.header-top {
  background-color: #293449;
}

.logo {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;

  background-color: #EE3643;
  border-bottom: 5px solid #B52932;
}

.logo[href]:hover,
.logo[href]:focus {
  background-color: #CA2C37;
}

.logo[href]:active {
  background-color: #BA2732;
}

.header-top .search,
.header-top .link {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
  border: none;
}

.header-top .link:hover,
.header-top .search:focus,
.header-top .link:hover,
.header-top .search:focus {
  background-color: #212A3A;
}

.header-top .link:active {
  background-color: #161D29;
}

.header-top input[type="search"]::placeholder {
  color: #ffffff;
}

.header-top .search:hover,
.header-top .search:focus {
  background-color: #212A3A;
}
/* как задать смену цвета при активной строке поиска? */
.header-top .search:active {
  background-color: #ffffff;
}

.header-top .link-order {
  background-color: #63A63E;
}

.header-top .link-order:hover,
.header-top .link-order:focus {
  background-color: #5FBB2D;
}

.header-top .link-order:active {
  background-color: #518534;
}

.slogan {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #EE3643;
}

.header-tel {
  font-size: 21px;
  line-height: 21px;
  text-align: center;

  color: #EE3643;
  border: 3px solid #ffffff;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
}

.user-navigation li {
  list-style: none;
}

.button-user li {
  background-color: #ffffff;
}

.button-login,
.button-registration {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.button-login:hover,
.button-registration:hover,
.button-login:focus,
.button-registration:focus {
  color: #EE3643;
}

.button-login:active,
.button-registration:active {
  color: #B2B2B2;
}

.button-user a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.button-user a:active {
  color: #B2B2B2;
}

.link-profile a {
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
  text-decoration: underline;
}

.site-navigation {
  list-style: none;

  background-color: #32425C;
  box-shadow: 0 -5px #293449 inset;
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: #8E939C;

  background-color: #1D2739;
}

.banner h3 {
  font-family:  "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.banner-button {
  font-family:  "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.banner-material {
  background-color: #FFBF47;
}

.banner-instrument {
  background-color: #3BBCE3;
}

.banner-technics {
  background-color: #DC91D8;
}

.banner-discount {
  background-color: #8ED78F;
}

.banner-delivery {
  background-color: #FFC047;
}

.big-banners {
  background-color: #32425C;
}

.big-banners h3 {
  font-family:  "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.big-banners p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.big-banners ul {
  list-style: none;
}

.big-banners li button {
  background-color: #ffffff;
  border-color: 2px solid #ffffff;
}

.big-banners li button:active {
  background-color: #EE3643;
}

.button {
  font-family:  "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  background-color: #EE3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #CA2C37;
}

.button:active {
  background-color: #BA2732;
}

.popular h2 {
  font-family:  "Cuprum", Arial, sans-serif;
  color: #32425C;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #F9F5F0;
}

.popular-producer li {
  list-style: none;
  border: 1px solid #E5E5E5;
}

.popular-producer li:hover,
.popular-producer li:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-producer li:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  background-color: #F5F8FA;
}

.services h2 {
  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services h3 {
  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425C;
  text-transform: uppercase;
}

.services li {
  list-style: none;
}

.button-service {
  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  list-style: none;
  background-color: #32425C;
  border: none;
}

.button-service:hover,
.button-service:focus {
  background-color: #293449;
}

.button-service:active {
  color: #32425C;

  background-color: #ffffff;
}

.about-company h3 {
  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-company ul {
  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;

  list-style: none;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
  line-height: 18px;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  text-decoration: underline;
}

.page-catalog h1 {
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425C;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  background-color: #F2F6F8;
}

.filters h2 {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #F7F3EC;
}

.filter fieldset {
  border: none;
}

.filter legend {
  color: #000000;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter li {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter .price-slider {
  background-color: #F7F3EC
}

.filter input[name$=price] {
  background-color: #F7F3EC
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #E5E5E5;
}


.sort-list {
  background-color: #F7F3EC
}

.sort-list h3 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #B2B2B2;

  border-bottom: 1px dotted #EE3643;
  background-color: transparent;
}

.sort-list button:hover,
.sort-list button:focus {
  color: #000000;

  border-bottom: 1px solid #EE3643;
}

.sort-list button:activ {
  color: #EE3643;
  border: none;
}

.sort-list button[aria-label] {
  border: none;
}

.catalog-list li {
  list-style: none;
  border: 1px solid #E5E5E5;
}

.catalog-list li:hover,
.catalog-list li:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-list h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.old-price {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
}

.price {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #EE3643;
}

.button-buy {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #63A63E;
  box-shadow: 0 -3px #367315 inset;
}

.button-buy:hover,
.button-buy:focus {
  background-color: #5FBB2D;
}

.button-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.button-bookmark {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #32425C;

  border: 3px solid #63A63E;
}

.button-bookmark:hover,
.button-bookmark:focus {
  border: 3px solid #32425C;
}

.button-bookmark:active {
  color: #C1C6CE;

  border-color: #C1C6CE;
}

.pagination-list li {
  list-style: none;
  border: 1px solid #E5E5E5;
}

.pagination-list:hover,
.pagination-list:focus {
  border-color: #BDC6CA;
}
/* Не работает */
.pagination-list:active {
  border-color: #EE3643;
}

.pagination-list .pagination-item-current {
  background-color: #EE3643;
  border-color: #EE3643;
}

.pagination-list a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;;
}

.seo-text {
  background-color: #F2F6F8;
}

.seo-text h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.main-footer {
  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #32425C;
}

.footer-navigation {
  list-style: none;
}

.footer-navigation a {
  color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  color: #909AA8;

  text-decoration: none;
}

.navigation-catalog {
  list-style: none;
}

.navigation-catalog a {
  color: #FFD180;
}

.navigation-catalog a:hover,
.navigation-catalog a:focus {
  text-decoration: underline;
}

.navigation-catalog a:active {
  color: #98896D;

  text-decoration: none;
}

.footer-contacts {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-social {
  text-align: center;
}

.footer-social {
  list-style: none;
}

.social-button {
  color: #FFFFFF;

  background-color: #212A3A;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #EE3643;
}

.contact-link a {
  color: #FFD180;
}

.contact-link a:hover,
.contact-link a:focus {
  text-decoration: underline;
}

.contact-link a:active {
  color: #EE3643;
  text-decoration: none;
}
