body {
  margin: 0;
  min-width: 960px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -2000px);
            transform: translate(-50%, -2000px);
  }

  70% {
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
  }

  90% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -2000px);
            transform: translate(-50%, -2000px);
  }

  70% {
    -webkit-transform: translate(-50%, -10%);
            transform: translate(-50%, -10%);
  }

  90% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-52%, -50%);
            transform: translate(-52%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-48%, -50%);
            transform: translate(-48%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-52%, -50%);
            transform: translate(-52%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-48%, -50%);
            transform: translate(-48%, -50%);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 620px;
  padding: 47px 80px 37px 80px;

  background-color: #FFFFFF;
  border-top: 7px solid #EE3643;
  -webkit-box-shadow:
    0 -112px 0 0 #F4F4F4 inset,
    0 20px 40px 0 #000000;
          box-shadow:
    0 -112px 0 0 #F4F4F4 inset,
    0 20px 40px 0 #000000;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-show {
  display: block;

  -webkit-animation-name: bounce;

          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-map {
  width: 940px;
  height: 446px;
  padding: 0;

  border: none;
}

.modal-map iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-input {
  width: 220px;
  margin: 0;
  margin-bottom: 21px
}

.modal-description {
  width: 100%;
  margin: 0;
  margin-bottom: 66px;
}

.modal label {
  display: block;
  margin-bottom: 9px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.modal-description label {
  padding-left: 1px;
}

.modal input,
.modal textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 16px 8px 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #DEE3E4;
  border-radius: 2px;
  resize: none;
}

.modal textarea {
  height: 114px;
}

.modal .red-button {
  width: 100%;
}

.modal-close {
  position: absolute;
  top: 7px;
  right: 7px;

  width: 26px;
  height: 26px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 11px;
  left: 0px;

  width: 27px;
  height: 4px;

  background-color: #EE3643;
  border-radius: 1px;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-title {
  position: relative;

  margin: 0;
  padding: 18px 0px 105px 101px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.modal-title::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 1px;

  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-footer .red-button {
  width: 220px;
  margin-right: 20px;
  padding-right: 7px;
}

.white-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding: 11px 8px 9px 5px;

  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #FFFFFF;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.white-button:hover,
.white-button:focus {
  text-decoration: underline;
}

.main-header {
  padding-bottom: 60px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;

  background-color: #F3F7F8;
}

.header-top {
  background-color: #293449;
  margin-bottom: 46px;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 220px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  background-color: #EE3643;
  -webkit-box-shadow: 0 5px #B52932;
          box-shadow: 0 5px #B52932;
}

.logo[href]:hover,
.logo[href]:focus {
  background-color: #CA2C37;
  -webkit-box-shadow: 0 5px #8D1D26;
          box-shadow: 0 5px #8D1D26;
}

.logo[href]:active {
  background-color: #BA2732;
  -webkit-box-shadow: 0 5px #8D1D26;
          box-shadow: 0 5px #8D1D26;
}

.search-box {
  position: relative;
}

.search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  padding: 12px 10px 12px 48px;

  color: #FFFFFF;
  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
  border: none;
}

.search::-webkit-input-placeholder {
  color: #FFFFFF;
}

.search::-moz-placeholder {
  color: #FFFFFF;
}

.search:-ms-input-placeholder {
  color: #FFFFFF;
}

.search::-ms-input-placeholder {
  color: #FFFFFF;
}

.search::placeholder {
  color: #FFFFFF;
}

.search:hover {
  background-color: #212A3A;
}

.search:focus {
  color: #000000;

  background-color: #FFFFFF;
}

.search-box svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-box path {
  fill: #69717F;
}

.search:hover + svg > path {
  fill: #FFFFFF;
}

.search:focus + svg > path {
  fill: #EE3643;
}

.header-button {
  position: relative;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;

  color: #FFFFFF;
  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
  border: none;
}

.header-button:hover,
.header-button:focus {
  background-color: #212A3A;
}

.header-button:active {
  background-color: #161D29;
}

.button-favorites {
  padding-left: 44px;
}

.button-favorites::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.button-basket {
  padding-left: 49px;
}

.header-button-full {
  background-color: #EE3643;
}

.button-basket::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-basket.svg");
  background-repeat: no-repeat;

  opacity: 0.3;
}

.button-favorites:hover::before,
.button-basket:hover::before,
.button-favorites:focus::before,
.button-basket:focus::before {
  opacity: 1;
}

.button-favorites:active::before,
.button-basket:active::before {
  opacity: 0.5;
}

.button-order {
  padding-left: 20px;

  background-color: #63A63E;
}

.button-order:hover,
.button-order:focus {
  background-color: #5FBB2D;
}

.button-order:active {
  color: #A8C299;

  background-color: #518534;
}

.header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 39px;
}

.slogan {
  width: 200px;
  margin: 0px;
  padding-top: 3px;
  padding-left: 52px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #EE3643;
}

.header-contact {
  width: 270px;
  margin-left: 18px;
}

.header-tel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  padding: 9px 10px 9px 71px;

  font-size: 21px;
  line-height: 21px;
  vertical-align: middle;
  color: #EE3643;

  border: 3px solid #FFFFFF;
}

.header-tel::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-adress {
  margin: 0px;
  padding-top: 4px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.user-navigation {
  min-width: 300px;
}

.user-navigation li {
  list-style: none;
}

.users-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px;
  padding: 0px;
}

.user-button-login,
.user-button-registration {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 10px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #FFFFFF;
}

.user-button-login {
  position: relative;

  width: 121px;
  margin-right: 10px;
  padding-left: 47px;
}

.user-button-registration {
  padding-left: 24px;
}

.user-button-login::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.user-button-login:hover::before,
.user-button-login:focus::before,
.user-button-profile:hover::before,
.user-button-profile:focus::before,
.user-button-logout:hover::before,
.user-button-logout:focus::before {
  opacity: 1;
}

.user-button-login:active::before,
.user-button-profile:active::before,
.user-button-logout:active::before {
  opacity: 0.3;
}

.user-button-registration {
  width: 150px;
}

.user-button-login:hover,
.user-button-registration:hover,
.user-button-login:focus,
.user-button-registration:focus {
  color: #EE3643;
}

.user-button-login:active,
.user-button-registration:active {
  color: #B2B2B2;
}

.user-button {
  position: relative;

  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 45px;
  min-height: 45px;
  padding: 12px 0;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #FFFFFF;
}

.user-button-profile {
  width: 254px;
  padding-left: 46px;
}

.user-button:active {
  color: #B2B2B2;
}

.user-button-profile::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-button-logout::before {
  content: "";

  position: absolute;
  top: 14px;
  right: 10px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px;
  margin-top: 4px;
  padding: 0px;
}

.user-link {
  margin-left: 19px;

  font-size: 16px;
  line-height: 17px;
  color: #32425C;
  text-decoration: underline;
}

.user-link:hover,
.user-link:focus {
  color: #EE3643;
}

.user-link:active {
  color: #B7BFC8;
}

.user-link-order {
  margin-left: 18px;
}

.user-link-profile {
  position: relative;

  margin-left: 32px;
}

.user-link-profile::before {
  content: "";

  position: absolute;
  top: 6px;
  left: -17px;

  width: 4px;
  height: 4px;

  background-color: #32425C;
  border-radius: 50%;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0px;
  padding-right: 26px;
  padding-left: 20px;

  background-color: #32425C;
  -webkit-box-shadow: 0 -5px #293449 inset;
          box-shadow: 0 -5px #293449 inset;
  list-style: none;
}

.site-navigation a {
  display: block;
  padding: 20px 28px 23px 31px;

  font-size: 17px;
  line-height: 17px;
  color: #FFFFFF;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: #8E939C;

  background-color: #1D2739;
}

.banners-box-left,
.banners-box-rigth,
.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.banners {
  margin-top: 59px;
  margin-bottom: 53px;
}

.banners-box-left {
  width: 620px;
  margin-right: 20px;
}

.banner {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 300px;
  margin-bottom: 20px;
  padding: 21px 115px 22px 22px;
}

 .banner-title {
  margin: 0;
  margin-bottom: 12px;

  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
}

.banner-button {
  display: block;
  width: 125px;
  margin-left: 3px;
  padding: 11px 5px 9px 5px;

  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 3px;
}

.banner-button:hover,
.banner-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.banner-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.banners-box-left .banner:nth-of-type(2n+1) {
  margin-right: 20px;
}

.banners-box-rigth {
  width: 300px;
}

.banners-box-rigth .banner-button {
  margin-left: 1px;
}

.banners-box-rigth .banner:last-child {
  margin-bottom: 0;
}

.banner-yellow {
  background-color: #FFBF47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: top 31px right 43px;
}

.banner-blue {
  background-color: #3BBCE3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: top 33px right 28px;
}

.banner-purple {
  background-color: #DC91D8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: top 31px right 31px;
}

.banner-green {
  background-color: #8ED78F;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: top 26px right 45px;
}

.banner-yellow-2 {
  background-color: #FFC047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: top 32px right 31px;
}

.sliders {
  position: relative;

  background-color: #32425C;
}

.slider-item {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 620px;
  min-height: 266px;
  padding: 23px 24px 22px 24px;
}

.slider-nav {
  position: absolute;
  bottom: 31px;
  left: 50%;
  z-index: 2;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-nav-dots {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 5px;

  font-size: 0px;
  vertical-align: middle;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-nav-dots::before {
  content: "";

  position: absolute;
  top: 6px;
  left:  6px;

  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;

  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
}

#banner-1:checked ~ .slider-nav .slider-nav-dots-1::after,
#banner-2:checked ~ .slider-nav .slider-nav-dots-2::after {
  content: "";

  position: absolute;
  top: 8px;
  left:  8px;

  width: 6px;
  height: 6px;
  margin: 0;
  padding: 0;

  background-color: #EE3643;
  border: none;
  border-radius: 50%;
}

#banner-1:checked ~ .slider-nav .slider-nav-dots-1,
#banner-2:checked ~ .slider-nav .slider-nav-dots-2 {
  cursor: auto;
}

#banner-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#banner-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#banner-1:focus ~ .slider-nav .slider-nav-dots-1::before,
#banner-2:focus ~ .slider-nav .slider-nav-dots-2::before {
  -webkit-box-shadow: 0 0 3px 2px #5287ee;
          box-shadow: 0 0 3px 2px #5287ee;
}

.slider-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider-title {
  position: relative;
  z-index: 2;

  margin: 0;
  margin-bottom: 2px;

  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.slider-text {
  position: relative;
  z-index: 2;

  margin: 0;
  margin-left: 1px;
  margin-bottom: 121px;

  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.red-button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 11px 5px 9px 5px;

  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;

  background-color: #EE3643;
  border: 0;
  border-radius: 3px;
}

.red-button:hover,
.red-button:focus {
  background-color: #CA2C37;
}

.red-button:active {
  background-color: #BA2732;
}

.slider-button {
  position: relative;
  z-index: 1;

  width: 195px;
  margin-top: auto;
  margin-left: 1px;
  padding-left: 9px;
}

.slider-button-previous,
.slider-button-next {
  position: absolute;
  bottom: 152px;
  z-index: 2;

  padding: 0;

  background-color: transparent;
  border: none;
}

.slider-button-previous {
  left: 25px;
}

.slider-button-next {
  right: 42px;
}

.slider-button-previous::after {
  content: "";

  position: absolute;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1)
}

.slider-button-next::after {
  content: "";

  position: absolute;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
}

.popular-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
  padding: 25px 24px 25px 28px;

  background-color: #F9F5F0;
}

.popular-title {
  margin: 0;
  margin-top: 1px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425C;
  text-transform: uppercase;
}

.popular-button {
  min-width: 253px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.page-catalog .catalog-list {
  margin: 20px auto;
  width: 700px;
}

.catalog-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 21px;

  text-align: center;

  border: 1px solid #E5E5E5;
}

.catalog-item:hover,
.catalog-item:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item:nth-of-type(4n) {
  margin-right: 0;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;

  width: 60px;
  height: 59px;

  text-indent: -1000px;

  background-image: url("../img/flag-new.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

.banners .flag {
  top: 0px;
  right: 0px;
}

.item-image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 218px;
  height: 170px;
}

.catalog-title {
  min-height: 40px;
  margin: 10px 25px 0 25px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.old-price {
  min-height: 18px;
  margin: 11px 10px 0 12px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-decoration: line-through;
}

.price {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
  height: 38px;
  margin: 9px auto 20px 42px;
  padding: 11px 13px 9px 10px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #FFFFFF;

  background-color: #EE3643;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.item-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  padding: 43px 1px 43px 0;

  background-color: #FFFFFF;
  opacity: 0
}

.catalog-item:hover .item-actions,
.catalog-item:focus .item-actions {
  z-index: 10;

  opacity: 1;
}

.catalog-item:focus-within .item-actions {
  z-index: 10;
  opacity: 1;
}

.button-buy,
.button-bookmark {
  width: 135px;
  height: 38px;
  margin: 0 auto 8px auto;
  padding: 8px 0 6px 3px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;

  background-color: #63A63E;
  border: 0;
  border-radius: 3px;
}

.button-buy {
  position: relative;

  -webkit-box-shadow: 0 -3px #367315 inset;

          box-shadow: 0 -3px #367315 inset;
}

.button-buy::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 14px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-basket.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.button-buy:hover,
.button-buy:focus {
  background-color: #5FBB2D;
  cursor: pointer;
}

.button-buy:active {
  background-color: #518534;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-buy:hover::before,
.button-buy:focus::before,
.button-buy:active::before {
  opacity: 1;
}

.button-bookmark {
  color: #32425C;

  background-color: #FFFFFF;
  border: 3px solid #63A63E;
}

.button-bookmark:hover,
.button-bookmark:focus {
  border: 3px solid #32425C;
  cursor: pointer;
}

.button-bookmark:active {
  color: #C1C6CE;

  border-color: #C1C6CE;
}

.catalog-producer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 65px;
  padding: 0;

  list-style: none;
}

.catalog-producer-item {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #E5E5E5;
}

.catalog-producer-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-producer-item:hover,
.catalog-producer-item:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-producer-item:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.catalog-producer-item a {
  display: block;
  width: 218px;
  height: 143px;
}

.catalog-producer-item img[src*=bosch] {
  position: relative;
  top: 52px;
  left: 46px;
}

.catalog-producer-item img[src*=makita] {
  position: relative;
  top: 49px;
  left: 47px;
}

.catalog-producer-item img[src*=dewalt] {
  position: relative;
  top: 47px;
  left: 36px;
}

.catalog-producer-item img[src*=interskol] {
  position: relative;
  top: 20px;
  left: 8px;
}

.catalog-producer-item img[src*=hitachi] {
  position: relative;
  top: 57px;
  left: 27px;
}

.catalog-producer-item img[src*=lg] {
  position: relative;
  top: 34px;
  left: 47px;
}

.catalog-producer-item img[src*=aeg] {
  position: relative;
  top: 22px;
  left: 34px;
}

.catalog-producer-item img[src*=metabo] {
  position: relative;
  top: 33px;
  left: 9px;
}

.services {
  background-color: #F5F8FA;
  padding-top: 65px;
}

.services-title {
  margin: 0;
  margin-bottom: 26px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services-text {
  width: 400px;
  margin: 0;
  margin-bottom: 67px;

  letter-spacing: 0.05px;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-slider-button {
  position: relative;

  width: 240px;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

.services-slider-button::after {
  content: "";

  position: absolute;
  top: -43px;
  left: 230px;

  width: 10px;
  height: 272px;

  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}

.services-button {
  display: block;
  width: 200px;
  margin-bottom: 1px;
  padding: 14px 18px 17px 22px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;

  background-color: #32425C;
  border: none;
  -webkit-box-shadow:
    inset 0 1px 0 0 #405069,
    0 1px 0 0 #293449;
          box-shadow:
    inset 0 1px 0 0 #405069,
    0 1px 0 0 #293449;
  cursor: pointer;
}

.services-button:hover {
  background-color: #293449;
}

#services-slide-1:checked ~ .services-slider-button .services-button-1,
#services-slide-2:checked ~ .services-slider-button .services-button-2,
#services-slide-3:checked ~ .services-slider-button .services-button-3 {
  color: #32425C;

  background-color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: auto;
}

#services-slide-1:checked ~ .services-slide-list .services-slide:nth-child(1) {
  display: block;
}

#services-slide-2:checked ~ .services-slide-list .services-slide:nth-child(2) {
  display: block;
}

#services-slide-3:checked ~ .services-slide-list .services-slide:nth-child(3) {
  display: block;
}

#services-slide-1:focus ~ .services-slider-button .services-button-1,
#services-slide-2:focus ~ .services-slider-button .services-button-2,
#services-slide-3:focus ~ .services-slider-button .services-button-3 {
  outline: 2px solid #5287ee;
}

.services-slide-list {
  width: 620px;
}

.services-slide {
  display: none;

  min-height: 287px;

  background-repeat: no-repeat;
  background-position: right 1px bottom 1px;
}

.slide-delivery {
  background-image: url("../img/svc-delivery.png");
}

.slide-warranty {
  background-image: url("../img/svc-warranty.png");
}

.slide-credite {
  background-image: url("../img/svc-credit.png");
}

.services-slide-title {
  width: 320px;
  margin: 0;
  padding: 0;

  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425C;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.services-slide-text {
  width: 320px;
  margin: 25px 0;
}

.about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 78px;
  padding-bottom: 86px;
}

.company-box {
  width: 520px;
}

.about-company-title {
  margin: 0px;
  margin-bottom: 26px;
  padding: 0px;

  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-company-text {
  margin: 0px;
  padding: 0px;
  padding-bottom: 24px;

  letter-spacing: 0.13px;
}

.about-company-text:nth-of-type(2) {
  letter-spacing: 0.05px;
}

.about-company-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: -3px 0 37px 36px;
  padding: 0px;

  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;

  list-style: none;
}

.about-company-list li {
  position: relative;

  margin-bottom: 21px;
}

.about-company-list li::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -36px;

  width: 25px;
  height: 2px;

  background-color: #EE3643;
}

.about-company-button {
  display: block;
  width: 220px;
}

.map-box {
  width: 300px;
}

.about-map-text {
  width: 185px;
  margin: 0px;
  margin-bottom: 31px;
  padding: 0px;
}

.map-small {
  display: block;
  margin: 0px;
  margin-bottom: 32px;
  padding: 0px;

  border: none;
  cursor: pointer;
}

.write-us-button {
  width: 300px;
  padding-left: 9px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
  margin-bottom: 20px;

  line-height: 18px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 41px;
}

.breadcrumbs li:nth-child(3) {
  margin-right: 42px;
}

.breadcrumbs-link {
  display: block;

  font-size: 13px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-link[href]:hover,
.breadcrumbs-link[href]:focus {
  text-decoration: underline;
}

.link-home {
  width: 14px;
  height: 14px;
  margin-left: -1px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 0px;
}

.breadcrumbs-link[href]::after {
  content: "";

  position: absolute;
  top: 2px;
  right: -25px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.breadcrumbs .link-home::after {
  right: -23px;
}

.page-catalog-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  padding: 30px 28px 29px 28px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425C;
  text-transform: uppercase;

  background-color: #F2F6F8;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-left {
  width: 220px;
  margin-right: 20px;
}

.filter {
  position: relative;
}

.filters-title {
  margin: 0;
  padding: 10px 19px;

  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #F7F3EC;
  border-radius: 5px;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter .price-slider {
  margin-top: 12px;
  margin-bottom: 42px;
}

.filter legend {
  margin-bottom: 13px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter .range-filter {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 220px;
  height: 80px;
  padding: 39px 20px;


  background-color: #F7F3EC;
  border-radius: 5px;
}

.scale {
  width: 180px;
  height: 2px;

  background-color: #D7DCDE;
}

.bar {
  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 0;

  -webkit-box-sizing: content-box;

          box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #FFFFFF;
  background-color: #ABABAB;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  left: 20px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;

  margin-top: 10px;
}

.price-controls::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 105px;

  width: 10px;
  height: 1px;

  background-color: #000000;
}

.input-box {
  display: inline-block;

  width: 95px;
  height: 38px;
  padding: 0;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  background-color: #F7F3EC;
  border: none;
  border-radius: 5px;
}

.input-box:first-child {
  margin-right: 26px;
}

.input-box::-webkit-input-placeholder {
  color: #000000;
}

.input-box::-moz-placeholder {
  color: #000000;
}

.input-box:-ms-input-placeholder {
  color: #000000;
}

.input-box::-ms-input-placeholder {
  color: #000000;
}

.input-box::placeholder {
  color: #000000;
}

.filter .filter-checkbox {
  margin-bottom: 20px;
}

.filter .filter-radio {
  margin-bottom: 59px;
}

.filter-checkbox legend {
  margin-bottom: 14px;
}

.filter-options {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-option {
  margin-bottom: 21px;
}

.filter-option label {
  position: relative;

  display: block;
  padding-left: 34px;

  cursor: pointer;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.4;
}

.filter-input-checkbox:focus + label,
.filter-input-radio:focus + label {
  -webkit-box-shadow: 0 0 3px 2px #5287ee;
          box-shadow: 0 0 3px 2px #5287ee;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.78;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.78;
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before {
  opacity: 1;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -1px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.78;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  opacity: 1;
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -1px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.78;
}

.filter-input-radio:checked:hover + label::before,
.filter-input-radio:checked:focus + label::before {
  opacity: 1;
}

.filter-checkbox::before,
.filter-radio::before {
  content: "";

  position: absolute;
  left: 0px;

  width: 220px;
  height: 1px;

  background-color: #e5e5e5;
}

.filter-checkbox::before {
  top: 195px;
}

.filter-radio::before {
  top: 458px;
}

.filter-button {
  width: 140px;
  margin: 0;
  padding: 9px 0;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  text-decoration: underline;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 0 19px;

  background-color: #F7F3EC;
  border-radius: 5px;
}

.sort-list-title {
  width: 220px;
  margin: 10px 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sort-list-filter-1,
.sort-list-filter-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;

  line-height: 18px;

  list-style: none;
}

.sort-list-filter-1 {
  margin-right: 43px;
  padding: 0;
}

.sort-list-filter-1 li:nth-of-type(1) {
  margin-right: 71px;
}

.sort-list-filter-1 li:nth-of-type(2) {
  margin-right: 65px;
}

.sort-list-filter-1 .active {
  color: #EE3643;

  border: none;
}

.sort-list-filter-1 a {
  font-size: 13px;
  line-height: 18px;
  color: #B2B2B2;
  text-transform: uppercase;

  background-color: transparent;
  border-bottom: 1px dotted #EE3643;
}

.sort-list-filter-1 a:hover,
.sort-list-filter-1 a:focus {
  color: #000000;

  border-bottom: 1px solid #EE3643;
}

.sort-list-filter-2 {
  position: relative;

  padding: 0;
}

.sort-list-high,
.sort-list-low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
}

.sort-list-filter-2 .active path {
  fill: #EE3643;
}

.sort-list-high {
  margin-right: 15px;
}

.sort-list-low {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sort-list-high:hover path,
.sort-list-high:focus path,
.sort-list-low:hover path,
.sort-list-low:focus path {
  fill: #000000;
}

.page-catalog .catalog-list {
  margin-bottom: 32px;
}

.page-catalog .catalog-item {
  margin-right: 20px;
}

.page-catalog .catalog-item:nth-of-type(3n) {
  margin-right: 0;
}

.page-catalog .catalog-item {
  margin-bottom: 20px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.pagination-item {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 38px;
  margin-right: 10px;
  padding: 9px 5px;

  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.pagination-item[href]:hover,
.pagination-item[href]:focus {
  border-color: #BDC6CA;
}

.pagination-item[href]:active {
  border-color: #EE3643;
}

.pagination-item-current {
  color: #FFFFFF;

  background-color: #EE3643;
  border-color: #EE3643;
}

.pagination-item-next {
  min-width: 140px;
}

.seo-text {
  padding-top: 65px;
  padding-bottom: 68px;

  background-color: #F2F6F8;
}

.seo-text-title {
  margin: 0;
  margin-bottom: 26px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.seo-text-article {
  margin: 0;
  letter-spacing: 0.16px;
}

.main-footer {
  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;

  background-color: #32425C;
}

.footer-navigation {
  list-style: none;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-line-1 {
  margin-bottom: 33px;
}

.logo-footer {
  height: 63px;
}

.logo-footer img {
  width: 138px;
  height: 23px;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 548px;
  margin: 0px;
  margin-top: 38px;
  padding: 0px;
}

.footer-navigation a {
  color: #FFFFFF;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  color: #909AA8;

  text-decoration: none;
}

.footer-line-2 {
  margin-bottom: 49px;
}

.footer-adress {
  width: 325px;
  margin: 0px;
  margin-left: 3px;
  padding: 0px;
}

.navigation-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;

  width: 525px;
  margin: 0px;
  padding: 0px;
}

.navigation-catalog a {
  color: #FFD180;
}

.navigation-catalog a:hover,
.navigation-catalog a:focus {
  text-decoration: underline;
}

.navigation-catalog a:active {
  color: #98896D;

  text-decoration: none;
}

.footer-contacts {
  padding: 37px 0 31px 0;

  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-copyright {
  margin: 0px;
  margin-left: 1px;
  padding: 0px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 131px;
  margin: 0px;
  margin-top: -2px;
  margin-left: 44px;
  padding: 0px;

  list-style: none;
}

.social-button {
  position: relative;

  display: block;
  width: 41px;
  height: 41px;

  color: #FFFFFF;

  background-color: #212A3A;
  border-radius: 50%;
}

.vk-button::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 8px;

  width: 26px;
  height: 15px;

  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
}

.facebook-button::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;

  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}

.instagram-button::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 10px;

  width: 21px;
  height: 21px;

  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #EE3643;
}

.contact-link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
}

.contact-link {
  max-width: 137px;
  margin: 0px;
  padding: 0px;
}

.contact-link:last-child {
  width: 111px;
}

.contact-link a {
  color: #FFD180;
}

.contact-link a:hover,
.contact-link a:focus {
  text-decoration: underline;
}

.contact-link a:active {
  color: #EE3643;
  text-decoration: none;
}
